<% content_for :html_header do -%>
	<title>利用規約 - メイドめーる</title>
<% end -%>

<% content_for :eyecatch do -%>
<% end -%>

<div class="content">
利用規約
<p class="main-text">
<li>本サイトのサービス内容、関連のドキュメントやオンラインのリソース、 および、本ページ記載のご利用についての条件については事前の予告無く改訂することがあります。 </li>
<li>運営者は、利用者が本サイト上のサービスを利用することによって生じた結果に対して如何なる保証も致しません。また、本サイト上のサービスの利用に関して利用者及び第三者に生ずる損害について、一切責任を負いません。 </li>
<li>無料のサービスです。ユーザーさんに対して利用料金を請求することはありません。将来的に規約改定して有料サービスになる時には(そんな予定はないですけど)、改めてユーザーさんの承諾をとることをお約束します。</li>
</p>
</div>

<div class="content">
個人情報の扱い
<p class="main-text">
メイドめーるに登録された情報、登録された情報に基づいてGoogleCalendarから取得できる情報、メイドめーる宛に送付されたメールの内容、アクセスしてきたユーザーさんのアクセスログなどは、以下のように扱うように努力いたします。
<ul>
<li>法的に根拠のある要請があった場合で、見せた方がユーザーさんのためになると運営者が判断した場合には、公的機関に対して情報を開示することがあります。</li>
<li>メイドめーるは、メタデータ株式会社の提供するMextractr WebAPI を利用しています。ユーザーさんがmaidmail.jpに送付したスケジュールメールは、Mextractr WebAPI に渡され、解析されます。このとき渡した情報については、<%= link_to("Mextractr WebAPI のプライバシーポリシー","http://api.emetadata.net/doc/tos",:popup=>true) %>に基づいて処理が行われます。</li>
<li>個人を特定できないように加工した統計的情報については、適宜公開することがあります。</li>
<li>以上の場合を除き、ユーザーさんの個人情報を、ユーザーさんの許可なく第三者に提供することはありません。</li>
</p>
</div>
